<ul class="usefullinks">
  <li><i>Политика конфиденциальности</i></li>
  <li><i>О UroborosQ Wiki</i></li>
  <li><i>Дисклеймеры</i></li>
</ul>
<div id="interestingstats">
 Загрузка страницы заняла: {{ serverTime }} ms (сервер)
</div>