<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Овторизация</title>
  {{>commonHead}}
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/thirdparty.js"></script>
  <script src="/scripts/auth-callback.js"></script>
  <link href="../../styles/style.css" rel="stylesheet">
</head>

<header> {{>header}}</header>

<body>
  Авторизация...
</body>
<footer>{{>footer}}</footer>

</html>