<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Title</title>
    {{> commonHead }}
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/thirdparty.js"></script>
  <script src="/scripts/auth.js"></script>
</head>
<body>
<header> {{> header }} </header>
<main>
    <div class="box" id="authorization">
        <h2 id="authorization__label">
            Личная кабинка
        </h2>
                <p>
                  {{{ button }}}
                </p>
    </div>
</main>
<footer>{{>footer}}</footer>
<script>decorateNavbar()</script>
<script>applyPreloaderAnimation()</script>
</body>
</html>