<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Страница регистрации</title>
    {{> commonHead }}
    <script src="scripts/generate-registration-preview.js"></script>
</head>
<body>
    <header> {{> header }} </header>
    <main>
        <form id="rform">
            <fieldset>
                <legend>Введите учетные данные</legend>
                <p>
                    <label>Логин</label>
                    <input type="text" id="rform__input_login">
                </p>
                <p>
                    <label>Email</label>
                    <input type="text" id="rform__input_email">
                </p>
                <p>
                    <label>Пароль</label>
                    <input type="password" id="rform__input_pass">
                </p>
                <p>
                    <label>Пароль еще раз</label>
                    <input type="password" id="rform__input_passconfirm">
                </p>
                <p>
                    <label>Страна</label>
                    <select id="rform__input_country">
                        <option>Не выбрано</option>
                        <option>Казахстан</option>
                    </select>
                </p>
                <p>
                    <input type="submit" value="Зарегистрироваться">
                </p>
                    <p id="rform_errors"></p>
            </fieldset>
        </form>
        <div id="preview"></div>
    </main>
    <footer> {{> footer }} </footer>
    <script>decorateNavbar()</script>
    <script>checkWebStorage()</script>
</body>
</html>