<!DOCTYPE html>
<html lang="en">

<head>
  <title>Список пользователей</title>
  {{>commonHead}}
  <script src="scripts/fetch-users.js"></script>
</head>
<body>
  <header>{{>header}}</header>
  <main>
    <div id="preloader">
      <div class="sk-bounce sk-center">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
      </div>
    </div>
    <div class="box" id="userlist"></div>
    <div class="topic__controls_page-switcher"><input id='backward_page' value='Предыдущая страница' type='button'
                                                      onclick='renderUsers(currentPage - 1, {{topicID}})'> <span id='pagenumber'>1</span> <input id='forward_page'
                                                                                                                                                 value='Следующая страница' type='button' onclick='renderUsers(currentPage + 1, {{topicID}})'>
    </div>
  </main>
  <footer>{{>footer}}</footer>
  <script>decorateNavbar()</script>
  <script>applyPreloaderAnimation()</script>
  <script>renderUsers(1)</script>

</body>
</html>