<!DOCTYPE html>
<html lang="ru">

<head>
    <title>UroborosQ Wiki page</title>
    {{>commonHead}}
    <script src="/scripts/load-categories.js"></script>
    <script src="/scripts/create-article.js"></script>
</head>

<body>
    <header>{{>header}}</header>
    <main>
        <div class="box">
            <h2>Страница Вики</h2>
            <article id="wikiguide">
                Зогрузка...
            </article>
            <div id="wiki__createarea">
                {{{createButton}}}
            </div>
            <div id="wiki__createcategory">
                {{{createCategory}}}
            </div>
        </div>
    </main>
    <footer>{{>footer}}</footer>
    <script>applyPreloaderAnimation()</script>
    <script>decorateNavbar()</script>
    <script>loadCategories()</script>
</body>
</html>